body{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
.navigation {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    position: absolute;
  }
  
  .navigation:hover {
    transition: 0.8s ease-in-out;
    background: #4F95DA;
  }
  
  .navigation:hover svg {
    stroke-dashoffset: -480;
  }
  
  .navigation span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
h1{
    text-align: center;
    }
    
    table, th, td {
    border: 1px solid black;
    }
    
    table {
    border-collapse: collapse;
    margin: auto;
    }
    
    th, td{
    padding: 10px;
    text-align: center;
    width: 120px;
    }
    
    th{
    font-weight: bold;
    }
    
    
    tr:nth-child(even) {
    background-color: #DCEBE6;
    }
    
    tr:hover:nth-child(1n + 2) {
    background-color: #085F63;
    color: #fff;
    }
    